// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  background-color: rgb(235, 230, 230);
  padding: 20px;
  margin: 10px;
  font-weight: bold;
}

li {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:active {
  text-decoration: none;
  color: black;
}
